@model EntityLayer.Blog

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="BlogId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="BlogTitle" class="control-label"></label>
                <input asp-for="BlogTitle" class="form-control" />
                <span asp-validation-for="BlogTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogContent" class="control-label"></label>
                <input asp-for="BlogContent" class="form-control" />
                <span asp-validation-for="BlogContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="BlogImage" type="hidden" />
            </div>

            <div>
                <img src="~/images/blog/@Model.BlogImage" class="img-fluid" alt="user image" />
            </div>

            <div class="form-group">
                <input asp-for="BlogCreateDate" class="form-control" type="hidden" value="@DateTime.Now" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <input asp-for="CategoryID" class="form-control" />
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="file" name=file multipe="false" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
